.container {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 5rem auto 0 auto;
  font-size: 1.5rem;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.profile_pic {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.img {
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  width: 100%;
  padding: 1rem;
  max-width: 90%;
  border: 1px black solid;
  border-radius: 1rem;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon {
  margin-right: 1rem;
}